.artist-grid{ float:left;width: 425px;margin-left:35px;}
.artist-grid-header{float:left;width:100%;padding:5px;background-color: #368BC1;color:white;}
.artist-grid-column{float:left;width:30%;text-align:center;}
.artist-grid-row{float:left;width:100%;background-color:white;height:auto;padding:5px;}
.artist-grid-row:hover{background-color:#eee; cursor:move;}
.artist-grid-row-data1{float:left;width:41%;}
.artist-grid-row-data2{float:left;width:25%;}
.artist-grid-row-data3{float:left;width:33%;}