input[type="radio"]{
    min-width: 30px;
    float: left;
}
.single-poster {float:left;width: 130px; height: 130px;margin-bottom: 10px;}
.single-poster img { float: left; width: 100px; height: 130px;}