.trailer-grid{ float:left;width: 425px;margin-left:35px;}
.trailer-grid-header{float:left;width:100%;padding:5px;background-color: #368BC1;color:white;}
.trailer-grid-column{float:left;width:30%;text-align:center;}
.trailer-grid-row{float:left;width:100%;background-color:white;height:auto;padding:5px;}
.trailer-grid-row:hover{background-color:#eee; cursor:move;}
.trailer-grid-row-data1{float:left;width:41%;}
.trailer-grid-row-data2{float:left;width:25%;}
.trailer-grid-row-data3{float:left;width:33%;}
#status {width: 30%;
float: left;
position: absolute;
margin-left: 10%;
margin-top: -2%;}