body {
    font-family: 'Segoe UI' sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.container{width:100%;}
.top-nav{
   max-height: 65px;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    box-shadow: 0px 3px 10px #666;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #368CC1), color-stop(0.5, #1B6EA1) );
    background-image: -o-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: -moz-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: -webkit-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: -ms-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: linear-gradient(to bottom, #368CC1 0%, #1B6EA1 50%);
}
.logo{
    float: left;
    margin-left: 7%;
}
.logo img{ width: 180px;height:40px;margin-top:10px;}
.user-details ul { float: right; margin: 0px; padding: 0px;list-style:none; width: 300px; margin-top: 10px;}
.user-details ul li{margin-left: 20px; float: left;color:white;}
.user-details ul li a {color: white;}
/*Left navigation links*/
.left-nav { float: left; width: 80px; border-right: 1px solid #368BC1; height: 100%; min-height: 580px; position: fixed; }
.left-nav ul {float: left; margin: 0px; padding: 0px;list-style:none; width: 100%; }
.left-nav ul li {height: 100px;border-bottom: 1px solid #368BC1; padding-top: 30px; text-align:center; cursor: pointer;}
.left-nav ul li:hover, .left-nav ul li.active{color:white; background-color: #368BC1;}
.section-title{float: left;font-size: 2em;color: #368BC1;margin-bottom: 10px;margin-top: 10px;margin-left: 7%;width: 93%;border-left: 10px solid #368BC1;padding-left: 20px;}
/*Content area*/
.movie-container{margin-top: 65px;margin-left:80px;}
.content-container{float: left;}
.shortcut-container{float:left;width: 100%; height: 30px;padding:10px;margin-left:25px;}
.shortcut-container span{ float: left; margin-right: 20px;}
.shortcut-container ul { list-style: none; margin: 0; padding: 0; float: left; }
.shortcut-container ul li {float:left; margin-right: 20px;}
/*Form fields*/
.form-container{float: left; width: 450px;margin-left: 25px;}
.form-container div{float:left;}
.form-container span{float:left;width: 150px;margin-left: 10px;margin-top: 5px;}
input,textarea{float:left; padding: 5px;outline:none;border-radius:5px;border:1px solid #ddd;min-width: 250px; margin: 5px;}
input:focus,textarea:focus{border:1px solid #368BC1;}
#isEnabled{float: left;min-width: 30px;margin-top: 8px;}
/*Posters Container*/
.posters-container{position: absolute; top:95px;right:0%;}