body {
    background-color: #EEE;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.movie-panel {
    margin-top: 60px;
}
.movies{
    float: left;
    margin-left: 7%;
    padding-top: 20px;
        /*
        width: 86%;
        */
    }
.reviewer-info{margin-top: 4%;}
.large-fonts {
    font-size: 2em;
    font-family: Segoe UI Light;
    font-weight: bold;
}

.medium-fonts {
    font-size: 1.5em;
    font-family: Segoe UI Light;
}

.small-fonts {
    font-size: 0.5em;
    font-family: Segoe UI Light;
    font-weight: bold;
}

.tube-container {
    float: left;
    width: 100%;
}
.about-us {
   float: left;
   margin-left: 7%;
   margin-right: 7%;
   text-align: justify;
}
.gallery li { list-style: none; }
.active { color: #696464; background-color: #BDB58B;}

.width60 {
    width: 63%;
}

.width30 {
    width: 36%;
    float: left;
}
.section-title {
    float: left;
    color: #368BC1;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 93%;
    border-left: 10px solid #368BC1;
    padding-left: 20px;
}
.loadimage{
    margin-left: 20px; width: 35px; height: 35px;
}
/* Rating Control */
.rate-container {
    float: left;
    width: 100%;
    height: 20px;
}

.red-mirchi {
    float: left;
    width: 15px;
    height: 25px;
    background-image: url('/Images/RedChilli.png');
    background-size: 15px 25px;
    /*margin-top: 10px;*/
    margin-bottom: 3px;
}

.green-mirchi {
    float: left;
    width: 15px;
    height: 25px;
    background-image: url('/Images/GreenChilli.png');
    background-size: 15px 25px;
    /*margin-top: 10px;*/
}

.red-gray-mirchi {
    float: left;
    width: 15px;
    height: 25px;
    background-image: url('/Images/RedGrayChilli.png');
    background-size: 15px 25px;
    margin-bottom: 3px;
}

.green-gray-mirchi {
    float: left;
    width: 15px;
    height: 25px;
    background-image: url('/Images/GreenGrayChilli.png');
    background-size: 15px 25px;
}

/*added by vasim*/
.rate {
    float: left;
    width: 75px;
    height: 52px;
    background-image: url('/Images/mirchi-sprite.png');
    /*background-size: 15px 25px;*/
    /*margin-top: 10px;*/
    margin-bottom: 3px;
}
.rate-value{
    float: left;
    font-weight: bold;
    font-size: 2em;
    color:red;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 50px;
}
.rate-1 {
    background-position: 0px 0px;
}

.rate-2 {
    background-position: -76px 0px;
}

.rate-3 {
    background-position: -153px 0px;
}

.rate-4 {
    background-position: -229px 0px;
}

.rate-5 {
    background-position: -305px 0px;
}

.rate-6 {
    background-position: -382px 0px;
    /*width: 215px;*/
}

.rate-7 {
    background-position: -458px 0px;
}

.rate-8 {
    background-position: -535px 0px;
}

.rate-9 {
    background-position: -612px 0px;
}

.rate-10 {
    background-position: -689px 0px;
}
/*end*/
#recent-container-tube .section-title{
    width: 100%;
}

/* End - Rating Control */
@media screen and (max-width: 768px) {
    /*.tube-container {margin-top: 20px;}*/
    .large-fonts{font-size:1.5em;}
}

@media screen and (min-width: 321px) and (max-width: 1350px) {
    .width60 {
        width: 100%;
    }

    .width30 {
        width: 100%;
        float: left;
    }

        .width60 .section-title, .width30 .section-title {
            /*margin-left: 7%;*/
        }
}

@media screen and (max-width: 320px) {
    .tube-container {margin-top: 0px;}
    .tags { float: left; width: 260px;}
    .section-title{padding-left: 10px;}
    .large-fonts{font-size:1.5em;}
}
