.footer {
    float: left;
    width: 93%;
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
}

    .footer span {
        float: left;
        margin-right: 20px;
    }

    .footer ul {
        list-style: none;
    }

        .footer ul li {
            float: left;
            margin-right: 20px;
            font-size: 12px;
        }

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    
}

@media screen and (max-width: 320px) {
}
