.footer {
    float: left;
    width: 100%;
    padding-top: 1%;
    /*background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #368CC1), color-stop(0.5, #1B6EA1) );
    background-image: -o-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: -moz-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: -webkit-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: -ms-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: linear-gradient(to bottom, #368CC1 0%, #1B6EA1 50%);*/
    background-color: #181f25;
    color: white;
    margin-top: 20px;
    display: block;
    box-shadow: 0px 0px 0px #666, 0px -3px 10px #666;
    position: relative;
    bottom: 0px;
    display: none;
}

    .footer div {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .footer ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
    }

        .footer ul li {
            display: inline;
            margin-right: 10px;
            font-size: 12px;
        }

            .footer ul li a {
                color: #ddd;
                text-decoration: underline;
            }

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 321px) and (max-width: 767px) {
}

@media screen and (max-width: 320px) {
}
