.header {
    max-height: 65px;
    height: 10%;
    min-height: 65px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    box-shadow: 0px 3px 10px #666;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #368CC1), color-stop(0.5, #1B6EA1) );
    background-image: -o-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: -moz-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: -webkit-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: -ms-linear-gradient(bottom, #368CC1 0%, #1B6EA1 50%);
    background-image: linear-gradient(to bottom, #368CC1 0%, #1B6EA1 50%);
}

.logo {
    position: absolute;
    left: 7%;
    top: 15px;
}

    .logo img {
        width: 75%;
        max-width: 200px;
        height: 7%;
    }
    .small-logo{display: block;position: absolute; left: 26%;}
    .small-logo img { width: 40px; height: 60px;}
    .nav-options {
        position: fixed;
        top: 20px;
        right: 5px;
        margin-right: 5px;
	    width: 0; 
	    height: 0; 
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid #333;
        display: block;
    }
    .nav-bar-container{ 
        position: fixed !important;
        width: 150px !important;
        float: right !important;
        right: 0px;
        top: 65px;
        opacity: 0.98;
        display: none;
    }
    ul.top-nav-bar li { border-right: none !important; text-align: left !important; padding: 5px !important; border-bottom: 1px solid #368CC1; }
    .top-nav-bar { max-height: 179px !important; margin: 0px !important; }
        .home-search-bar input {
            width: 100%;
        }
.home-search-bar {
    position: absolute;
    left: 30%;
    top: 10px;
    width: 30%;
    background-color: #333;
    border-radius: 5px;
    padding: 3px;
}

    .home-search-bar input {
        float: left;
        width: 70%;
        height: 7%;
        outline: none;
        border-radius: 5px !important;
        box-shadow: 0px 0px 15px #368BC1 !important;
    }

.search-button {
    float: left;
    padding: 8px;
    text-align: center;
    background-color: lightsalmon;
    color: #fff;
    margin-top: 1px;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 13px;
    cursor: pointer;
}

.search {
    outline: none;
    border: 2px solid #368BC1 !important;
    border-radius: 5px !important;
}

.clear-search-bar {
    position: absolute;
    right: 15%;
    margin: 10px;
    top: 4px;
    cursor: pointer;
    display: none;
}

.clear-search-bar-button {
    float: right;
    width: 16px !important;
    height: 16px !important;
}

#search-bar .clear-search-bar {
    right: 85px;
}

#search-bar .clear-search-bar-button {
    width: 24px !important;
    height: 24px !important;
}
/*Login/Signup links*/
#targetUL {
    width: 85%;
    border: 1px solid silver;
    margin-top: 35px;
    list-style: none;
    position: absolute;
    background-color: white;
    z-index: 101;
    display: none;
    padding-left: 0px;
}

    #targetUL li {
        border-bottom: 1px solid silver;
        float: left;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-top: 8px;
        cursor: pointer;
        width: 100%;
    }

        #targetUL li:hover {
            cursor: pointer;
            background-color: #CEE3F6;
        }

.search-image {
    max-width: 60px;
    min-height: 50px;
    float: left;
}

.movie-poster {
    float: left;
    width: 50px;
    height: 70px;
    margin-right: 10px;
}
.person-poster{
    height: 50px;
    margin-right: 20px;
}

.img-thumbnail {
    width: 50px;
    height: 70px;
    margin-right: 10px;
}

.search-result-desc {
    width: 81%;
    float: left;
}

.search-result-title {
    width: 100%;
    font-weight: bold;
    float: left;
    font-size: 16px;
}

.search-result-text {
    width: 100%;
    float: left;
    color: #666666;
    font-size: 11px;
    margin-top: 2px;
}

.user-status {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

    .user-status ul {
        float: left;
        margin: 0px;
        list-style: none;
    }

        .user-status ul li {
            float: left;
            list-style: none;
            width: 60px;
        }

            .user-status ul li a {
                color: white;
                text-decoration: underline;
            }

@media screen and (min-width: 768px) {
    .home-search-bar {
        max-width: 40%;
        min-width: 480px;
    }

        .home-search-bar input {
            width: 75%;
            min-width: 410px;
        }
}



@media screen and (min-width: 321px) and (max-width: 767px) {
    .logo img {
        width: 50%;
        height: 35px;
    }
    .small-logo{display: block;position: absolute; left: 20%;}
    .home-search-bar {
        width: 50%;
    }

        .home-search-bar input {
            width: 100%;
            height: 7%;
        }

    .search-button {
        display: none;
    }

    .user-status {
        display: none;
    }

    #targetUL {
        width: 98%;
    }

    .clear-search-bar {
        right: 0%;
    }

    .search-result-desc {
        width: 65%;
        max-width: 300px;
        float: left;
    }
}

@media screen and (max-width: 320px) {
    .logo {display: none;}

    .home-search-bar {
        width: 70%;
        left: 15%;
    }
    .small-logo{display: block;position: absolute; left: 0%;}
    .small-logo img { width: 40px; height: 60px;}
    .nav-options {
        position: fixed;
        top: 20px;
        right: 5px;
        margin-right: 5px;
	    width: 0; 
	    height: 0; 
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid #333;
        display: block;
    }
    .nav-bar-container{ 
        position: fixed !important;
        width: 150px !important;
        float: right !important;
        right: 0px;
        top: 65px;
        opacity: 0.98;
        display: none;
    }
    ul.top-nav-bar li { border-right: none !important; text-align: left !important; padding: 5px !important; border-bottom: 1px solid #368CC1; }
    .top-nav-bar { max-height: 210px !important; margin: 0px !important; }
        .home-search-bar input {
            width: 100%;
        }

    .search-button {
        display: none;
    }

    .user-status {
        display: none;
    }

    .search-result-title {
        font-size: 0.9em;
    }

    .search-result-desc {
        width: 100%;
        float: left;
    }

    .search-image {
        display: none;
    }

    #targetUL {
        width: 95%;
    }
    #targetUL li {padding-left: 5px; font-size: 0.9em;}

    .search-result-text {
        display: none;
    }
    .clear-search-bar{right: 0%;}
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .logo {display: none;}
    .small-logo{display: block; float: left;}
    .small-logo img { width: 40px; height: 60px;}
    .nav-options {
        position: fixed;
        top: 20px;
        right: 5px;
        margin-right: 5px;
	    width: 0; 
	    height: 0; 
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 10px solid #333;
        display: block;
    }
    .nav-bar-container{ 
        position: fixed !important;
        width: 150px !important;
        float: right !important;
        right: 0px;
        top: 65px;
        opacity: 0.98;
        display: none;
    }
    ul.top-nav-bar li { border-right: none !important; text-align: left !important; padding: 5px !important; border-bottom: 1px solid #368CC1; }
    .top-nav-bar { max-height: 210px !important; margin: 0px !important; }
        .home-search-bar input {
            width: 100%;
        }
    .search-result-title {
        font-size: 0.9em;
    }

    .search-result-desc {
        width: 100%;
        float: left;
    }

    .search-image {
        display: none;
    }

    #targetUL {
        width: 98%;
    }
}
