#now-pager, #upcoming-pager, #other-pager {
    float: left;
    width: 90%;
    text-align: center;
    /*margin-top: 20px;*/
}

.viewingDiv {
    float: none;
    position: relative;
    display: table;
    /*overflow:hidden;
    min-height: 450px;*/
}

div.multimediaCaption {
    font-family: Arial;
    font-size: 12px;
    display: inline;
}

.viewer {
    text-align: center;
    vertical-align: middle;
    position: relative;
    float: left;
}

img.shownImage {
    box-shadow: 0px 0px 15px #555;
}

div.navigate {
    font-family: arial,tahoma,sans-serf;
    font-size: 14px;
    font-weight: bold;
}

div.captionAndNavigate {
    background-color: #000;
    bottom: 0px;
    color: #FFFFFF;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    padding: 15px;
    position: absolute;
    text-align: left;
    z-index: 2;
    width: 100%;
}
.movie-synopsis {
    float: left;
}

.artist-bio {
    float: left;
    width: 85%;
    /*margin-left: 6%;
    margin-top: 20px;*/
}

/* Movie Description */
.movie-data-row {
    float: left;
    width: 100%;
    margin-top: 10px;
}

    /*.movie-data-row:hover {
        background-color: #DDD;
        cursor: default;
    }*/

.movie-data-label {
    float: left;
    text-align: left;
    font-size: 1.1em;
    font-family: 'Segoe UI';
    width: 20%;
    min-width: 75px;
}

.movie-data {
    float: left;
    text-align: justify;
    width: 75%;
}
/*.movie-songs { float: left; width: 100%;display:none;}*/
.movie-songs { float: left; width: 100%;display:block;}
.movie-songs div { float: left; width: 100%;}
.movie-songs span.play{float: right; background-image:url('/images/play.png');background-size: 16px 16px; width: 16px; height: 16px;}

/*Movie description end */
@media screen and (min-width: 768px) {
    .movie-description {
        width: 44%;float: left;
    }
    .movies {
       padding-top: 40px !important;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    #now-pager, #upcoming-pager, #genre-now, #genre-upcoming, #genre-other, #other-pager {
        width: 95%;
        margin-bottom: 20px;
        margin-left: -40px;
    }

    .movie-description {
        float: left;
        width: 87%;
        margin-top: 20px;
    }
    .movie-data{width: 90%;}    
    .artist-bio{width: 70%;}   
}

@media screen and (max-width: 320px) {
    #now-pager, #upcoming-pager {
        width: 95%;
        margin-bottom: 20px;
        margin-left: -40px;
    }

    .movie-description {
        float: left;
        width: 85%;
        margin-top: 20px;
    }
    .movie-data{width: 100%;} 
    .artist-bio{width: 80%;}   
}

/* Movie Tile */
.additives {
    width: 50px;
    float: right;
    /* TODO: position this control correctly
        I added position and z-index but positioning needs to be fixed */
    position: absolute;
    z-index: 3;
}
.additives .aright, .additives .aleft {
    padding-bottom: 5px;
}
.additives .aright {
    margin-left: 25px;
}
.additives .aleft {
    float: left;
    width: 25px;
}
@font-face {
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
    src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
.myglyphicon {
    position:relative;
    top:1px;
    display:inline-block;
    font-family:'Glyphicons Halflings';
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.additives .trailer:before {
    content:"\e059";
}
.additives .song:before {
    content:"\e072";
}
.additives .photo:before {
    content:"\e060";
}
.additives .review:before {
    content:"\270f";
}
