.pager-left-arrow {
    display: inline-block;
    margin-right: 3%;
    width: 20px;
    height: 20px;
    padding: 0px 10px 10px 10px;
}

.pager-right-arrow {
    display: inline-block;
    margin-left: 1%;
    width: 20px;
    height: 20px;
    padding: 0px 10px 10px 10px;
}

.left-arrow-icon, .left-arrow-icon-disable {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #368BC1;
    cursor: pointer;
}

.left-arrow-icon-disable {
    border-right: 10px solid #999;
    cursor: default;
}

.right-arrow-icon, .right-arrow-icon-disable {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #368BC1;
    cursor: pointer;
}

.right-arrow-icon-disable {
    border-left: 10px solid #999;
    cursor: default;
}

.pager-container, .news-pager {
    /*height: 30px;*/
    text-align: center;
    width: 100%;
}

.active-page-index {
    background-color: #368BC1 !important;
}

#news-pager {
    float: left;
    width: 95%;
}

.page-index {
    width: 16px;
    height: 16px;
    background-color: skyblue; /* #41A317;*/
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

    .page-index:hover {
        background-color: #368BC1;
    }

#critics-pager {
    float: left;
    width: 88%;
    text-align: center;
}
#review-pager,#genre-now,#genre-other,#genre-upcoming {
    float: left;
    width: 88%;
    /*margin-top: 20px;*/
    text-align: center;
}
@media screen and (max-width: 767px) {

.movie-list{
        display: table;
        margin: 0 auto;
    }

        .movie-list ul,.upcoming-movie-list ul,.others-movie-list ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            width: 90%;
            height: 340px;
            text-align: center;
            margin-left: 7%;
        }

            .movie-list ul li {
                /*float: left;
                list-style: none;
                width: 250px;
                margin-right: 15px;
                cursor: pointer;
                text-align: left;*/
                /*margin-top: 15px;*/
                display: inline-block;
                width: 225px;
            }
                .movie-list ul li img {
                    float: left;
                    border: 0px;
                }
                .movie-list #now-pager, .upcoming-movie-list #upcoming-pager, .critics-container #critics-pager, .movie-list #movies-pager, .movie-poster-details #posters-pager,
                .movie-poster-details #posters-pager, .movie-list #genre-now, .upcoming-movie-list #genre-upcoming, .others-movie-list #genre-other,
                .review-list-now-playing #now-pager, .review-list-other #other-pager
                 { float: left; position: absolute; margin-top: 145px; width: 80%; }
                .critics-container #critics-pager { margin-top: 60px; width: 70%; }
                .movie-poster-details #posters-pager, .movie-list #genre-now, .upcoming-movie-list #genre-upcoming, .others-movie-list #genre-other {z-index: 98; }
                /* Arrow */
                .left-arrow { width: 20px; height: 25px; position: relative; left: 35px; z-index: 98; float: left; }
                .right-arrow { width: 20px; height: 25px; position: relative; left: 105%; z-index: 98; }

                #movies-pager .left-arrow { left: -10px; }
                #movies-pager .right-arrow { left: 95%; }
                /*.review-list-now-playing #now-pager, .review-list-other #other-pager{ left: 5%; width: 140%;}*/

                .arrow-left {
	                width: 0; 
	                height: 0; 
	                border-top: 20px solid transparent;
	                border-bottom: 20px solid transparent; 
	                border-right:20px solid #819FF7; 
                }
                .arrow-right {
	                width: 0; 
	                height: 0; 
	                border-top: 20px solid transparent;
	                border-bottom: 20px solid transparent;
	                border-left: 20px solid #819FF7;
                }
                #posters-pager,#review-pager{display:none;}
}
@media screen and (min-width: 500px) {
    .movie-list .right-arrow,.upcoming-movie-list .right-arrow{ left: 110%; }
}
@media screen and (max-width: 401px) {
   .movie-list ul,.upcoming-movie-list ul { margin-left: 7%;}
   .movie-list .right-arrow,.upcoming-movie-list .left-arrow{ left: 35px; }
   #now-pager .right-arrow,.upcoming-movie-list .right-arrow{ left: 113%; }
   .movie-list #genre-now, .upcoming-movie-list #genre-upcoming, .others-movie-list #genre-other
   {
       width: 63%;
   }
   .left-arrow { left: 35px; }
   .right-arrow { left: 130%; }
   #critics-pager .left-arrow { left: 0px; }
   #critics-pager .right-arrow { left: 75%; }
   #genre-now .left-arrow, #genre-upcoming .left-arrow, #genre-other .left-arrow{ left: -5px; }
   #genre-now .right-arrow, #genre-upcoming .right-arrow, #genre-other .right-arrow{ left: 125%; }
   #review-pager { position: absolute; margin-top: 70px; }
   #review-pager .left-arrow { left: -5%; }
   #review-pager .right-arrow { left: 99%; }
   .movie-review-details ul { margin-left: 8px !important;}
    #review-list-now-playing-tube #now-pager .right-arrow { left: 125%;}
    #review-list-other-tube #other-pager .right-arrow { left: 125%;}
    #review-list-now-playing-tube #now-pager .left-arrow { left: 25px !important;}
    #review-list-other-tube #other-pager .left-arrow { left: 25px;}

    #previous-movies-pager .left-arrow { position: absolute; left: 10px; margin-top: 150px;}
    #previous-movies-pager .right-arrow { position: absolute; left: 83%; margin-top: 150px;}

    .movie-poster-details #posters-pager .right-arrow {left: 105%; }
    .movie-poster-details #posters-pager .left-arrow {left: -10px; }
    .movie-poster-details ul {margin-left: 7px;}
    .movie-poster-details #posters-pager { margin-top: 75px;}
    #movie-poster-details-tube #posters-pager { margin-top: 115px;}
    #upcoming-movies-pager .right-arrow,#nowplaying-movies-pager .right-arrow {position: absolute; margin-top: 140px;left: 83%;}
    #upcoming-movies-pager .left-arrow,#nowplaying-movies-pager .left-arrow {position: absolute; margin-top: 140px;left: 10px;}

}
@media screen and (min-width: 321px) {
    #review-list-now-playing-tube #now-pager .right-arrow { left: 105%;}
    #review-list-other-tube #other-pager .right-arrow { left: 105%;}
}
@media screen and (max-width: 321px) {
   #critics-pager .left-arrow { left: 20px; }
   #critics-pager .right-arrow { left: 110%; }
   /* .movie-list ul,.upcoming-movie-list ul { margin-left: 7%;}
   .movie-list .right-arrow,.upcoming-movie-list .left-arrow{ left: 35px; }
   #now-pager .right-arrow,.upcoming-movie-list .right-arrow{ left: 113%; }
   .movie-list #genre-now, .upcoming-movie-list #genre-upcoming, .others-movie-list #genre-other { width: 63%; }
   .left-arrow { left: 30px; }
   .right-arrow { left: 130%; }
   #genre-now .left-arrow, #genre-upcoming .left-arrow, #genre-other .left-arrow{ left: -5px; }
   #genre-now .right-arrow, #genre-upcoming .right-arrow, #genre-other .right-arrow{ left: 125%; }*/
}