.pager-left-arrow {
    display: inline-block;
    margin-right: 3%;
    width: 20px;
    height: 20px;
    padding: 0px 10px 10px 10px;
}

.pager-right-arrow {
    display: inline-block;
    margin-left: 1%;
    width: 20px;
    height: 20px;
    padding: 0px 10px 10px 10px;
}

.left-arrow-icon, .left-arrow-icon-disable {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #368BC1;
    cursor: pointer;
}

.left-arrow-icon-disable {
    border-right: 10px solid #999;
    cursor: default;
}

.right-arrow-icon, .right-arrow-icon-disable {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #368BC1;
    cursor: pointer;
}

.right-arrow-icon-disable {
    border-left: 10px solid #999;
    cursor: default;
}

.pager-container, .news-pager {
    /*height: 30px;*/
    text-align: center;
    width: 100%;
}

.active-page-index {
    background-color: #368BC1 !important;
}

#news-pager {
    float: left;
    width: 95%;
}

.page-index {
    width: 16px;
    height: 16px;
    background-color: skyblue; /* #41A317;*/
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

    .page-index:hover {
        background-color: #368BC1;
    }

#critics-pager {
    float: left;
    width: 88%;
    text-align: center;
}
#review-pager,#genre-now,#genre-other,#genre-upcoming{
    float: left;
    width: 88%;
    margin-top: 20px;
    text-align: center;
}
@media screen and (max-width: 767px) {

.movie-list{
        float: left;
        width: 93%;
    }

        .movie-list ul {
            float: left;
            list-style: none;
            padding: 0px;
            margin: 0px;
            width: 95%;
            height: 400px;
            /*margin-left: 2%;*/
        }

            .movie-list ul li {
                float: left;
                list-style: none;
                width: 250px;
                /*margin-top: 15px;*/
                margin-right: 15px;
                cursor: pointer;
                text-align: left;
            }
                .movie-list ul li img {
                    float: left;
                    border: 0px;
                }
                .movie-list #now-pager, .upcoming-movie-list #upcoming-pager { float: left; position: absolute; margin-top: 180px; width: 85%; }
                /* Arrow */
                .left-arrow { width: 25px; height: 25px; position: relative; left: 25px; z-index: 99; float: left; }
                .right-arrow { width: 25px; height: 25px; position: relative; left: 110%; z-index: 99; }

                .arrow-left {
	                width: 0; 
	                height: 0; 
	                border-top: 20px solid transparent;
	                border-bottom: 20px solid transparent; 
	                border-right:20px solid #819FF7; 
                }
                .arrow-right {
	                width: 0; 
	                height: 0; 
	                border-top: 20px solid transparent;
	                border-bottom: 20px solid transparent;
	                border-left: 20px solid #819FF7;
                }
                }
                @media only screen and (max-width: 320px) {
                    .movie-list ul {
                        /*margin-left: 5%;*/
                    }
                }
                @media only screen and (min-width: 320px) and (max-width: 380px) {
                    
                    .movie-list ul {
                        margin-left: 10%;
                        width: 95%;
                    }
                }
                @media only screen and (min-width: 380px) and (max-width: 480px) {
                    .movie-list ul {
                        margin-left: 20%;
                        width: 85%;
                    }
                }
                @media only screen and (min-width: 480px) and (max-width: 767px) {
                    .movie-list ul {
                        margin-left: 10%;
                        width: 95%;
                    }
                }

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .page-index {
        margin-right: 10px;
    }
}

@media screen and (max-width: 320px) {
    .page-index {
        margin-right: 10px;
    }
}
