/*Trailer list*/
    .trailer {
        width: 35%;
    }
    .trailers {
        float: left;
        margin-left: 0%;
        width: 100%;
        margin-bottom: 20px;
        display: none !important;
    }

        .trailers .section-title {
            width: 86%;
        }

        .trailers ul {
            float: none;
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

            .trailers ul li {
                background-color: #FFF;
                width: 225px;
                padding-bottom: 10px;
                float: left;
                border: 1px solid #ddd;
                box-shadow: -3px 3px 5px #ddd;
                cursor: pointer;
                color: #333;
                margin-right: 10px;
            }

                .trailers ul li:hover{
                    background-color: #368bc1;
                    color: #fff;
                }
                .trailers ul li:hover a,.songs ul li:hover a {
                    color: #fff;    
                }

                .trailers ul li span {
                    font-size: 16px;
                    padding: 5px;
                    float: left;
                    text-align: left;
                    padding-top: 15px;
                }

    .trailers-thumb {
        width: 100%;
        float: left;
    }

    .trailer-play {
        float: right;
        width: 32px;
        height: 32px;
        z-index: 2;
        margin-right: 10px;
        margin-top: 10px;
    }
    #trailer-pager {
        float: left;
        width: 80%;
        margin-top: 20px;
    }
 @media screen and (max-width: 768px) {
    .trailer {
        margin-left: 0%;
        margin-bottom: 20px;
        display: none !important;
    }
    #trailer-pager{
        float: left;
        width: 80%;
        margin-top: 130px;
        position: absolute;
    }
    .trailers ul
    {
        margin-left: 35px;
    }
    #trailer-pager .left-arrow{
        left: 0px;
    }
    .ShowModal{
        left: 1% !important;
        top: 0% !important;
        width: 98% !important;
        height: 275px !important;
    }
    .ShowModal iframe{
        height: 275px !important;
    }
}
 /*@media screen and (max-width: 400px) {
    #trailer-pager{
        margin-top: 135px;
        position: absolute;
    }
     #trailer-pager .right-arrow{
        left: 90%;
    }
     #trailer-pager .left-arrow{
        left: 0px;
    }
    .trailers ul {
        margin-left: 35px;
    }
 }*/
 @media screen and (max-width: 320px) {
    .trailers ul li{
        margin-left: 25px;
    }
    #trailer-pager {
        position: absolute;
        margin-top: 125px;
        width: 87%;
    }
    /*#trailer-pager .right-arrow{
        left: 100%;
    }*/
    #trailer-pager .left-arrow{
        left: 0px;
    }
    .trailers ul {
        margin-left: 0px;
    }
    .ShowModal{
        left: 1% !important;
        top: 5% !important;
        width: 98% !important;
    }
    .ShowModal iframe{
        height: 250px !important;
    }
}