.tweet-container {
    float: left;
    width: 98%;
    max-width: 400px;
    /*margin-left: 3%;*/
}

.tweet-left, .tweet-right {
    width: 50%;
    float: left;
    min-width: 200px;
}

.tweet-cell {
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px rgba(0, 0, 255, 0.15);
    background-color: white;
    position: relative;
}

/*.tweet-container .tweet-cell {
    margin-top: 5px;
}*/

.tweet-user, .tweet-content {
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
}

.tweet-user {
    width: 100%;
    padding-right: 8px;
    text-align: right;
    font-style: italic;
    text-transform: lowercase;
    /*letter-spacing: 2px;*/
    font-size: small;
    color: #FFFFFF;
    background-color: #368BC1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px rgba(0, 0, 255, 0.15);
}

.tweet-content {
    color: #444444;
    overflow: hidden;
    max-height: 180px;
    max-width: 180px;
    font-size: 12px;
}

    .tweet-content span {
        color: #368BC1;
    }

@media screen and (min-width: 321px) and (max-width: 1350px) {
    .tweet-container {
        /*margin-left: 6%;*/
    }
}
@media screen and (max-width: 320px){
    .tweet-right {
        display: none;
    }
    .tweet-left, .tweet-right {width: 46%;}
    .tweet-cell { margin-right: 20px;}
}