.nav-bar-container {
            float: left;
            width: 100%;
            background-color: #154B6D;
            padding-top: 5px;
            position: fixed;
            z-index: 99;
        }

        ul.top-nav-bar {
            float: left;
            margin: 0px;
            margin-left: 5%;
            margin-right: 5%;
            list-style: none;
            padding: 5px;
            padding-bottom: 5px;
            /*max-height: 30px;*/
        }

            ul.top-nav-bar li {
                float: left;
                font-size: 13px;
                min-width: 160px;
                color: white;
                cursor: pointer;
                text-align: center;
                border-right: 1px solid #1B6EA1;
            }

                ul.top-nav-bar li:last-child {
                    border-right: 0px;
                }