@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}

<div class="movies">
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var json = [
                    { "title": "Now Playing", "section": "movie-list-tube" },
                    { "title": "Upcoming", "section": "upcoming-movie-list-tube" },
                    { "title": "Others", "section": "others-movie-list-tube" }
        ];

        $(".nav-bar-container").append(GetNavBar(json));

        var name = document.location.href.substring(document.location.href.lastIndexOf("/") + 1);
        if (name.indexOf("?") > -1)
            name = name.substring(0, name.indexOf("?"));
        name = toPascalCase(name);

        $(".movies").append(GetTubeControl("Now Playing Movies (" + name + ")", "movie-list", "genre-now"));
        $(".movies").append(GetTubeControl("Upcoming Movies (" + name + ")", "upcoming-movie-list", "genre-upcoming"));
        $(".movies").append(GetTubeControl("Archived Movies (" + name + ")", "others-movie-list", "genre-other"));

        $(".section-title").each(function () {
            new Util().AppendLoadImage($(this));
        });

        var apiPath = "../api/GenreMovies?type=" + name;
        CallHandler(apiPath, PopulateMovies);
        LoadNews();
        LoadTweets();
    });

    function PopulateMovies(response) {
        try {
            var data = JSON.parse(response);
            var now = 0;
            var upcoming = 0;
            var archived = 0;
            
            new Util().RemoveLoadImage($("#movie-list-tube"));
            new Util().RemoveLoadImage($("#upcoming-movie-list-tube"));
            new Util().RemoveLoadImage($("#others-movie-list-tube"));
            
            if (data.Status != undefined || data.Status == "Error") {
                $(".movie-list").html(data.UserMessage);
            }
            else {
                var releaseCounter = 0;
                if (data != null && data.length > 0) {
                    
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].State == "now playing" || data[i].State == "now-playing") {
                            var list = PopulatingMovies(data[i], "movie-list");
                            now++;
                        }
                        else if (data[i].State == "upcoming") {
                            var list = PopulatingMovies(data[i], "upcoming-movie-list");
                            upcoming++;
                        }
                        else if (data[i].State == "" || data[i].State == "released") {
                            // It creates 20+ pages for current data. I think we shall have some restriction
                            if (releaseCounter < 25) {
                                var list = PopulatingMovies(data[i], "others-movie-list");
                                releaseCounter++;
                                archived++;
                            }
                        }
                    }

                    /*The image width/height shall be calculated once the image is fully loaded*/
                    var width = $(document).width();

                    if (now == 0) {
                        $("#movie-list-tube").hide();
                        $(".top-nav-bar").find("li").each(function () {
                            if ($(this).attr("link-id") == "movie-list-tube") {
                                $(this).remove();
                            }
                        });
                    }
                    if (upcoming == 0) {
                        $("#upcoming-movie-list-tube").hide();
                        $(".top-nav-bar").find("li").each(function () {
                            if ($(this).attr("link-id") == "upcoming-movie-list-tube") {
                                $(this).remove();
                            }
                        });
                    }
                    if (archived == 0) {
                        $("#others-movie-list-tube").hide();
                        $(".top-nav-bar").find("li").each(function () {
                            if ($(this).attr("link-id") == "others-movie-list-tube") {
                                $(this).remove();
                            }
                        });
                    }
                    /*$(".movie-list").find("img").each(function () {
                        var ratio = this.width / this.height;
                        var newWidth = 400 * ratio;
                        $(this).width(newWidth + "px").height("340px");

                        if (newWidth > 225)
                            $(this).width("225px");
                    });

                    $(".upcoming-movie-list").find("img").each(function () {
                        var ratio = this.width / this.height;
                        var newWidth = 400 * ratio;
                        $(this).width(newWidth + "px").height("340px");

                        if (newWidth > 225)
                            $(this).width("225px");
                    });

                    $(".others-movie-list").find("img").each(function () {
                        var ratio = this.width / this.height;
                        var newWidth = 400 * ratio;
                        $(this).width(newWidth + "px").height("340px");

                        if (newWidth > 225)
                            $(this).width("225px");
                    });*/

                    ScaleElement($(".movie-list ul"));
                    ScaleElement($(".upcoming-movie-list ul"));
                    ScaleElement($(".others-movie-list ul"));
                    /*if (TILE_MODE == 0 && $(window).width() > 767) {
                        ScaleElement($(".movie-list ul"));
                        ScaleElement($(".upcoming-movie-list ul"));
                        ScaleElement($(".others-movie-list ul"));
                    }
                    else {
                        ScaleNewTileElement($(".movie-list ul"));
                        ScaleNewTileElement($(".upcoming-movie-list ul"));
                        ScaleNewTileElement($(".others-movie-list ul"));
                    }
                    */
                    
                    if ($(window).width() < 768) {
                        new Pager($(".movie-list"), "#genre-now");
                        new Pager($(".upcoming-movie-list"), "#genre-upcoming");
                        new Pager($(".others-movie-list"), "#genre-other");

                        
                    }
                    else {
                        // movie-list PreparePaginationControl($(".movie-poster-details"), { pagerContainerId: "posters-pager", tileWidth: "350" });
                        PreparePaginationControl($(".movie-list"), { pagerContainerId: "genre-now", tileWidth: "225" });
                        PreparePaginationControl($(".upcoming-movie-list"), { pagerContainerId: "genre-upcoming", tileWidth: "225" });
                        PreparePaginationControl($(".others-movie-list"), { pagerContainerId: "genre-other", tileWidth: "225" });

                        /*PreparePaginationControl($(".movie-list"));
                        PreparePaginationControl($(".upcoming-movie-list"));
                        PreparePaginationControl($(".others-movie-list"));*/
                    }

                    $(window).resize(function () {
                        if ($(window).width() < 768) {
                            new Pager($(".movie-list"), "#genre-now");
                            new Pager($(".upcoming-movie-list"), "#genre-upcoming");
                            new Pager($(".others-movie-list"), "#genre-other");
                        }
                        else {
                            PreparePaginationControl($(".movie-list"), { pagerContainerId: "genre-now", tileWidth: "225" });
                            PreparePaginationControl($(".upcoming-movie-list"), { pagerContainerId: "genre-upcoming", tileWidth: "225" });
                            PreparePaginationControl($(".others-movie-list"), { pagerContainerId: "genre-other", tileWidth: "225" });
                        }
                    });
                }
            }
        } catch (e) {
            $(".movie-list").html("Unable to get movies for artits.");
        }
    }
</script>