@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
<div class="movies">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        PrepareGenrePage();
    });
</script>