@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
@Styles.Render("~/Content/styles/mm.moviedetails.css")

<style>
    .movie-poster-details{
        margin-left: 7%;
        margin-right: 3%;
    }
    .movie-poster-details ul{padding:0px;}
    .movies {
        margin-top: 80px;
    }
</style>
<div class="movies">
    <div class="artist-bio"></div>
</div>
<script type="text/javascript" src="/Content/controls/mm.movie.js"></script>
<script type="text/javascript" src="/Content/controls/mm.bio.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var name = document.location.href.substring(document.location.href.lastIndexOf("/") + 1);
        if (name.indexOf("#") > -1) {
            var prettyPhoto = name.indexOf("#");
            name = name.substring(0, prettyPhoto);
        }

        var artist = name.split('-').join(' ');

        var fileName = "/Images/Loading.GIF";

        $("<div class=\"section-title large-fonts\">" + artist + "</div>").insertBefore($(".movies .artist-bio"));
        $(".movies .artist-bio").append(ShowPersonBio(fileName, artist, "", ""));
        $(".movies").append(GetTubeControl("Movies", "movie-list", "movies-pager"));
        $(".movies").append(GetTubeControl("Photos", "movie-poster-details", "posters-pager"));
        $(".movies").append(GetTubeControl("News", "news-container", "news-pager", "width60"));
        $(".movies").append(GetTubeControl("Tweets", "tweets", "tweet-pager", "width30"));

        //InitBio();
        var apiPath = "../api/ArtistMovies?type=movie&name=" + artist;
        var artistBioPath = "../api/ArtistMovies?type=bio&name=" + artist;
        CallHandler(apiPath, PopulateMovies);
        CallHandler(artistBioPath, PopulateArtistsBio);
        LoadNews();
        LoadTweets("artist", name);
    });

    function PopulateMovies(response) {
        var data = JSON.parse(response);

        if (data != null && data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                var list = PopulatingMovies(data[i], "movie-list");
            }

            /*The image width/height shall be calculated once the image is fully loaded*/
            var width = $(document).width();

            $(".movie-list").find("img").each(function () {
                var ratio = this.width / this.height;
                var newWidth = 400 * ratio;
                $(this).width(newWidth + "px").height("380px");

                if (newWidth > 250)
                    $(this).width("250px");
            });

            if (TILE_MODE == 0)
                ScaleElement($(".movie-list ul"));
            else
                ScaleNewTileElement($(".movie-list ul"));

            // movie-list
            PreparePaginationControl($(".movie-list"));

            $(window).resize(function () {
                PreparePaginationControl($(".movie-list"));
            });
        }
    }

    function PopulateArtistsBio(response) {
        var data = JSON.parse(response);

        if (data != null) {
            $(".intro-text").html(data.Bio);
            var posters = JSON.parse(data.Posters);

            if (posters != null && posters.length > 0) {
                //$(".bio-pic img").attr("src", "/Posters/Images/" + posters[posters.length - 1]).css("margin-left", "5%").css("margin-top", "0%");
                $(".bio-pic img").attr("src", PUBLIC_BLOB_URL + posters[posters.length - 1]).css("margin-left", "5%").css("margin-top", "0%");
                //$(".poster-list").parent().hide();
                InitBio();
                
                PopulatePosters(data.Posters, data.ArtistName);
                ArrangeImages($(".movie-poster-details"));
                
                $(".gallery a[rel^='prettyPhoto']").prettyPhoto({
                    animation_speed: 'normal',
                    theme: 'dark_square',
                    slideshow: false,
                    autoplay_slideshow: false,
                    show_title: true,
                    keyboard_shortcuts: true,
                    social_tools: false,
                    allow_resize: true,
                });
            }
            else {
                $(".bio-pic img").attr("src", "/Images/user.png").removeAttr("style").css("width", "263px").css("float", "left");;
                $(".movie-poster-details").parent().hide();
            }
        }
        else {
            $(".intro-text").html("Currently this artist does not have any biography on <a href=\"/Home\">Movie Mirchi</a>");
        }
    }
</script>
