@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
<meta name="description" content="Movie Mirchi :: View Artist Information, Upcoming, Now playing & Previous Movies :: Picture Gallery :: Latest Tweets & News">
<meta name="keywords" content="Movie Mirchi,Bollywood,Entertainment,Now Playing Movies,Upcoming Movies,Pictures Gallery,Artist News,Latest Tweets">
<meta name="author" content="Movie Mirchi">

<div class="movies">
    <div class="artist-bio"></div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        PrepareArtistPage();
    });
</script>
