@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}

<div class="bb-custom-wrapper">
    <div id="bb-bookblock" class="bb-bookblock">
        <div class="bb-item" id="item1">
            <div class="content">
                <div class="scroller">
                    <div class="movie-name">
                    </div>
                    <span class="critic-label">Critic Rating: </span><span class="critic-rating"></span>
                    <span class="star"></span>
                    <div class="left-content">

                        <img class="home-poster" />
                        <div class="genre"></div>
                    </div>
                    <div class="plot">
                        <div class="section-header">Movie Summary</div>
                        <p class="story-plot">

                        </p>
                    </div>
                    <div class="plot">
                        <div class="section-header">Team</div>
                        <div id="director">

                        </div>
                        <div id="writer">

                        </div>
                        <div id="producer">

                        </div>
                        <div id="music">

                        </div>

                    </div>
                    <div class="plot">
                        <div class="section-header">Statistics</div>
                        <div id="stats">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bb-item" id="item2">
            <div class="content">
                <div class="scroller">
                    <div class="movie-name">
                    </div>
                    <span class="critic-label">Critic Rating: </span><span class="critic-rating"></span>
                    <span class="star"></span>
                    <div id="imagearea">

                    </div>
                </div>
            </div>
        </div>
        <div class="bb-item" id="item3">
            <div class="content">
                <div class="scroller">
                    <div class="movie-name">
                    </div>
                    <span class="critic-label">Critic Rating: </span><span class="critic-rating"></span>
                    <span class="star"></span>
                    <div class="left-content">
                        <img class="home-poster" />
                    </div>
                    <div id="castdetails">
                        <div class="person-details">
                            <div class="cast-container">
                                <div class="class-container-header">Cast</div>
                                <ul id="cast-list"></ul>
                            </div>
                        </div>
                        <div class="person-details">
                            <div class="cast-container">
                                <div class="class-container-header">Director</div>
                                <ul id="director-list"></ul>
                            </div>
                            <div class="cast-container">
                                <div class="class-container-header">Producer</div>
                                <ul id="producer-list"></ul>
                            </div>
                            <div class="cast-container">
                                <div class="class-container-header">Writer</div>
                                <ul id="writer-list"></ul>
                            </div>
                            <div class="cast-container">
                                <div class="class-container-header">Music</div>
                                <ul id="music-list"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="bb-item" id="item4">
            <div class="content">
                <div class="scroller">
                    <div class="movie-name">
                    </div>
                    <span class="critic-label">Critic Rating: </span><span class="critic-rating"></span>
                    <span class="star"></span>
                    <div class="left-content">
                        <img class="home-poster" />
                    </div>
                    <div id="music-details">
                        <div class="cast-container">
                            <div class="class-container-header">Songs</div>
                            <ul id="song-list"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <span id="bb-nav-prev">&larr;</span>
            <span id="bb-nav-next">&rarr;</span>
        </nav>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var name = document.location.href.substring(document.location.href.lastIndexOf("/") + 1);
        LoadSingleMovie(name);
    });
</script>
