@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
@Styles.Render("~/Content/styles/mm.moviedetails.css")
<style>
    body {
        background-color: #eee;
    }

    .link-container {
        display: none;
    }

    .movie-songs {
        display: none;
    }

    .movie-list, .movie-list ul {
        width: 300px;
    }

    .movie-details, .review-details {
        float: left;
        width: 100%;
    }

    .movie-review-details {
        width: 100%;
        float: left;
    }

        .movie-review-details ul {
            float: left;
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

    .movie-poster-details ul {
        padding: 0px;
    }
    /*Songs list*/
    .songs {
        float: left;
        margin-left: 0%;
        width: 50%;
        margin-bottom: 20px;
        display: none !important;
    }

    .trailer {
        width: 35%;
    }

    .songs .section-title {
        width: 86%;
    }

    .songs ul {
        float: none;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .songs ul li {
            background-color: #FFF;
            width: 250px;
            padding-bottom: 10px;
            float: left;
            border: 1px solid #ddd;
            box-shadow: -3px 3px 5px #ddd;
            cursor: pointer;
            color: #333;
            margin-right: 10px;
        }

            .songs ul li:hover {
                background-color: #368bc1;
                color: #fff;
            }

            .songs ul li span {
                font-size: 18px;
                padding: 5px;
                float: left;
                text-align: left;
                padding-top: 15px;
            }

    .song-thumb {
        width: 100%;
        float: left;
    }

    .song-play {
        float: right;
        width: 32px;
        height: 32px;
        z-index: 2;
        margin-right: 10px;
        margin-top: 10px;
    }
    /*End*/
    /*Trailer list*/
    .trailers {
        float: left;
        margin-left: 0%;
        width: 50%;
        margin-bottom: 20px;
        display: none !important;
    }

        .trailers .section-title {
            width: 86%;
        }

        .trailers ul {
            float: none;
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

            .trailers ul li {
                background-color: #FFF;
                width: 250px;
                padding-bottom: 10px;
                float: left;
                border: 1px solid #ddd;
                box-shadow: -3px 3px 5px #ddd;
                cursor: pointer;
                color: #333;
                margin-right: 10px;
            }

                .trailers ul li:hover {
                    background-color: #368bc1;
                    color: #fff;
                }

                .trailers ul li span {
                    font-size: 18px;
                    padding: 5px;
                    float: left;
                    text-align: left;
                    padding-top: 15px;
                }

    .trailers-thumb {
        width: 100%;
        float: left;
    }

    .trailer-play {
        float: right;
        width: 32px;
        height: 32px;
        z-index: 2;
        margin-right: 10px;
        margin-top: 10px;
    }

    /* Modal Popup*/
    .ShowModal {
        top: 100px;
        left: 33%;
        z-index: 1000;
        position: absolute;
        display: block;
    }

    .HideModal {
        display: none;
    }

    .OverlayEffect {
        background-color: black;
        filter: alpha(opacity=70);
        opacity: 0.7;
        width: 100%;
        height: 100%;
        z-index: 400;
        position: absolute;
        top: 0;
        left: 0;
    }

    #songs-pager {
        float: left;
        width: 80%;
        margin-top: 20px;
    }

    #trailer-pager {
        float: left;
        width: 80%;
        margin-top: 20px;
    }

    #modalMsg {
        color: white;
        cursor: pointer;
    }
</style>

<div class="movies movie-tube">
    <div class="movie-content"></div>
    <div class="link-container poster-tube"><div id="mov_poster" class="section-title large-fonts">Posters</div></div>
    <div class="movie-details">
        <div class="movie-poster-details"><div id="posters-pager"></div></div>
    </div>
    <div class="link-container songs"><div class="section-title large-fonts">Songs</div></div>
    <div class="movie-songs"><div id="songs-pager"></div></div>
    <div class="link-container trailers trailer-tube" style="float: left;">
        <div class="section-title large-fonts">Trailers</div>
    </div><div class="movie-trailer"><div id="trailer-pager"></div></div>
    <div class="review-details" id="movie_reviews"></div>
    <div class="tweet-details"></div>
</div>

<div id="modalMsg" style="width: 500px; height: 300px;" class="HideModal">
    <div onclick="return RemoveModal();">Close</div>
    <iframe style="border: 0px; width: 100%; height: 100%;"></iframe>
</div>
<div id="overlay"></div>


<script type="text/javascript" src="/Content/controls/mm.movie.js"></script>
<script type="text/javascript" src="/Content/controls/mm.review.js"></script>
<script type="text/javascript" src="/Content/controls/mm.gallery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var json = [
                    { "title": "Movie", "section": "movie-list-tube" },
                    { "title": "Posters", "section": "mov_poster" },
                    { "title": "Songs", "section": "movie_songs" },
                    { "title": "Trailers", "section": "movie_trailers" },
                    { "title": "Reviews", "section": "movie-review-details-tube" },
                    { "title": "News", "section": "news-container-tube" },
                    { "title": "Tweets", "section": "tweets-tube" }
        ];

        $(".nav-bar-container").append(GetNavBar(json));

        var name = document.location.href.substring(document.location.href.lastIndexOf("/") + 1);
        if (name.indexOf("?") > -1)
            name = name.substring(0, name.indexOf("?"));
        LoadSingleMovie(name);
        //$(".movie-songs").append(GetTubeControl("Songs", "movie-songs-details", "songs", "songs"));
        $(".tweet-details").append(GetTubeControl("News", "news-container", "news-pager", "width60"));
        $(".tweet-details").append(GetTubeControl("Tweets", "tweets", "tweet-pager", "width30"));
        $(".review-details").append(GetTubeControl("Reviews", "movie-review-details", "review-pager"));
        LoadTweets("movie", name);
        //console.log("3:" + $(".link-container .songs").css("display"));
    });
</script>
