@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
@Styles.Render("~/Content/styles/mm.moviedetails.css")
<style>
    .link-container {
        display: none;
    }

    .movie-list, .movie-list ul {
        width: 300px;
    }

    .movie-details {
        float: left;
        width: 86%;
        margin-left: 7%;
    }

    /*.movie-description {
        float: left;
        width: 44%;
    }*/
</style>
<div class="movies">
</div>
<div class="link-container"><div class="section-title large-fonts">Posters</div></div>
<div class="movie-details">
    <div class="movie-poster-details"></div>

</div>
<div class="link-container">
    <div class="section-title large-fonts">Reviews</div>
</div>
<div class="movie-details">
    <div class="movie-review-details"></div>
</div>
<div class="tweet-details"></div>
<script type="text/javascript" src="/Content/controls/mm.movie.js"></script>
<script type="text/javascript" src="/Content/controls/mm.review.js"></script>
<script type="text/javascript" src="/Content/controls/mm.gallery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var name = document.location.href.substring(document.location.href.lastIndexOf("/") + 1);
        LoadSingleMovie(name);
        $(".tweet-details").append(GetTubeControl("News", "news-container", "news-pager", "width60"));
        $(".tweet-details").append(GetTubeControl("Tweets", "tweets", "tweet-pager", "width30"));
        LoadTweets("movie", name);
    });
</script>
