@{
    ViewBag.Title = "Reviewer";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
<div class="movies reviewer-info">

</div>

<script type="text/javascript">
    $(document).ready(function () {

        var json = [
                    { "title": "Reviewer", "section": "review_list" },
                    { "title": "Latest Reviews", "section": "now_playing" },
                    { "title": "Archived Reviews", "section": "other_movie" }
        ];

        $(".nav-bar-container").append(GetNavBar(json));

        /*var qs = GetQueryStringsForHtmPage();
        var name = qs["name"];
        var movie = qs["movie"];
        GetReviewerAndReviews(name, movie);*/
        var name = document.location.href.substring(document.location.href.lastIndexOf("/") + 1);
        if (name.indexOf("?") > -1)
            name = name.substring(0, name.indexOf("?"));

        name = toPascalCase(name.split('-')[0]) + "-" + toPascalCase(name.split('-')[1]);
        LoadReviewsByReviewer(name);
    });
</script>
<script type="text/javascript" src="/Content/controls/mm.review.js"></script>
<script type="text/javascript" src="/Content/controls/mm.reviewer.js"></script>
<script type="text/javascript" src="/Content/controls/mm.critics.js"></script>
<script type="text/javascript" src="/Content/controls/mm.bio.js"></script>
