@model MvcWebRole2.Models.ReviewModel

@{
    ViewBag.Title = "Submit_AddReview";
}

<h2>Submit_AddReview</h2>

<div>Submitted reviewid @Html.Label(Model.ReviewId) for movie @Html.Label(Model.MovieId)</div>