@{
    ViewBag.Title = "UpdateReviewer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#updatereviewer").attr("style", "background-color:#f5f5f5;");

        BindValueChangeEvent('#hfReviewerId', GetReviewerById);
        //get reviewer
        $("#searchReviewer").keyup(function () {
            //Fetching the textbox value.
            var query = $(this).val();
            //Calling GetItems method.
            autoCompleteTextBox(query, "AutoComplete/AutoCompleteReviewer", "autoCompleteReviewer", "reviewUL", "searchReviewer", "hfReviewerId");
        });
    });

    function GetReviewerById() {
        var reviewerId = $("#hfReviewerId").val();
        if (reviewerId != "0") {
            $("#successStatus").html("");
            $("#successStatus").hide();

            CallHandler(reviewerId, "Reviewer/GetReviewerById", PopulateReviewerDetails)
        }
    }

</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Update Reviewer</h3>
    </div>
    <div class="panel-body" id="reviewerinfo">

        <div id="successStatus" class="alert alert-success" style="display:none"></div>
        <div id="reviewerError" class="alert alert-danger" style="display:none;"></div>
        @using (Html.BeginForm())
        {
            <div id="autoCompleteReviewer">
                <input type="text" name="searchReviewer" id="searchReviewer" class="reviewInput" placeholder="Search Reviewer" /><br />
                <input type="hidden" id="hfReviewerId" />
            </div><br />

            @Html.DropDownList("affilationId", (SelectList)ViewBag.affilation, "-- Select Affilation Name --") <br />

            <input type="text" name="reviewerName" id="reviewerName" class="reviewInput" placeholder="Reviewer Name" /><br />

            <input type="text" name="reviewerImage" id="reviewerImage" class="reviewInput" placeholder="Reviewer Image" /><br />

            <div class="btn btn-primary" onclick="UpdateReviewerDetail();">Update Reviewer</div>

        }
    </div>
</div>

<script type="text/javascript">


    function UpdateReviewerDetail() {
        var isValid = true;
        try {
            var affilationId = $('#affilationId :selected').val();
            var reviewerName = $("#reviewerName").val();
            var reviewerId = $("#hfReviewerId").val();
            var reviewerImage = $("#reviewerImage").val();


            if (affilationId == "" || reviewerId == "") {

                $("#reviewerError").html("Please Select Affilation Name.");
                $("#reviewerError").show();
                $("#affiltionId").focus();
                isValid = false;
            }

            if (reviewerName == "") {
                $("#reviewerError").html("Please provide Reviewer Name.");
                $("#reviewerError").show();
                $("#reviewerName").focus();
                isValid = false;
            }

            if (reviewerImage == "") {
                $("#reviewerError").html("Please provide Reviewer Image.");
                $("#reviewerError").show();
                $("#reviewerImage").focus();
                isValid = false;
            }


            if (isValid) {
                var reviewer = {
                    "ReviewerId": reviewerId,
                    "ReviewerName": reviewerName,
                    "ReviewerImage": reviewerImage,
                    "Affilation": affilationId
                };

                $("#hfReviewer").val(JSON.stringify(reviewer));

                $.ajax({
                    url: '@Url.Action("UpdateReviewer", "Reviewer")',
                    data: { "reviewerJson": JSON.stringify(reviewer) },
                    type: 'POST',
                    dataType: 'json',
                    success: ShowSuccessMessage,
                    error: function (xhr, status, error) {
                    }
                });
            }
        } catch (e) {
            $("#reviewerError").html("There is some error, please try again.");
            $("#reviewerError").show();
        }



    }
    function ShowSuccessMessage(result) {
        if (result.Status == "Ok") {
            $("#successStatus").html("Reviewer details updated successfully");
            $("#successStatus").show();
            ClearformData();

            $("#searchReviewer").val("");
            $("#hfReviewerId").val("0");
        } else if (result.Status == "Error") {
            $("#successStatus").removeAttr("class");
            $("#successStatus").attr("class", "alert alert-danger");
            $("#successStatus").html("Unable to save Reviewer details. Please try again after some time.");
            $("#successStatus").show();
        }
    }

    function ClearformData() {
        $("#affilationId").val("");
        $("#reviewerName").val("");
        $("#reviewerImage").val("");
        $("#reviewerError").hide();
    }


</script>
