@{
    ViewBag.Title = "Update Movie Review";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {


        $("#updatereview").attr("style", "background-color:#f5f5f5;");



      
        BindValueChangeEvent('#hfReviewerId', GetReviewDetailById);
        //get movies
        $("#movieName").keyup(function (e) {
            //Fetching the textbox value.
            if (e.keyCode == 40 || e.keyCode == 38) {

            }
            else {
                var query = $(this).val();
                //Calling GetItems method.
                //alert(1);
                autoCompleteTextBox(query, "AutoComplete/AutoCompleteMovie", "autoCompleteMovie", "movieUL", "movieName", "hfMovieId");
            }
        });

        //get reviewer
        $("#reviewerName").keyup(function () {
            //Fetching the textbox value.
            var query = $(this).val();
            //Calling GetItems method.
            //alert(1);
            autoCompleteTextBox(query, "AutoComplete/AutoCompleteReviewer", "autoCompleteReviewer", "reviewUL", "reviewerName", "hfReviewerId");
        });
    });


    function GetReviewDetailById() {

        var movieId  = $("#hfMovieId").val();
        var reviewerId = $("#hfReviewerId").val();
        var detail = reviewerId + "," + movieId;

        if (detail != null || detail != "") {
            $("#successStatus").html("");
            $("#successStatus").hide();

            CallHandler(detail, "Review/GetReviewDetailByReviewerId", PopulateReviewDetails);

        } else {
            $("#updationMovieReviewError").html("Please Provide Reviewer Name and Movie Name.");
            $("#updationMovieReviewError").show();
        }

        //var detail = detail.push({"ReviewId": reviewid[r], "movieId": movieId[c]});

    }

    function PopulateReviewDetails(result) {
        //$("#movieName").val(result.MovieId);
        //$("#reviewerName").val(result.ReviewerId);
        $("#reviewId").val(result.ReviewId);
        $("#hfMovieId").val(result.MovieId);
        $("#hfReviewerId").val(result.ReviewerId);
        $("#reviewerRating").val(result.ReviewerRating);
        $("#review").val(result.Review);
        $("#outlink").val(result.OutLink);
        $("#summary").val(result.Summary);
        $("#updateMovieReviewBautton").show();
    }

</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Update Movie Review</h3>
    </div>
    <div class="panel-body" id="reviewinfo">

        <div id="successStatus" style="display:none" class="alert alert-success"></div>
        <div id="updationMovieReviewError" class="alert alert-danger" style="display:none;"></div>


        @using (Html.BeginForm())
        {


            <input type="hidden" id="reviewId" />


            <div id="autoCompleteMovie">
                <input type="text" name="movieName" id="movieName" class="reviewInput" placeholder="Search Movie Name" /><br />
                <input type="hidden" id="hfMovieId" />
            </div>
            <div id="autoCompleteReviewer">
                <input type="text" name="reviewerName" id="reviewerName" class="reviewInput" placeholder="Reviewer Name" /><br />
                <input type="hidden" id="hfReviewerId" />
            </div>



            <input type="text" name="reviewerRating" id="reviewerRating" class="reviewInput" placeholder="Reviewer Rating" /><br />


            <textarea name="summary" id="review" class="reviewInput" placeholder="Review"></textarea><br />


            <input type="text" name="outlink" id="outlink" class="reviewInput" placeholder="Outlink" /><br />

            <textarea name="summary" id="summary" class="reviewInput" placeholder="summary"></textarea><br />


            <div class="btn btn-primary" id="updateMovieReviewBautton" style="display:none !important" onclick="UpdateMovieReviewDetail();">Update Movie Review</div>

            @Html.Hidden("hfUpdateMovieReview", "")
        }

    </div>
</div>

<script type="text/javascript">
    function UpdateMovieReviewDetail() {
        var isValid = true;
        try {


            var reviewId = $("#reviewId").val();


            var movieId = $("#hfMovieId").val();
            var reviewerId = $("#hfReviewerId").val();
            var movieName = $("#movieName").val();
            var reviewerName = $("#reviewerName").val();
            var reviewerRating = $("#reviewerRating").val();
            var review = $("#review").val();
            var outlink = $("#outlink").val();
            var summary = $("#summary").val();

            if (movieId == "" || movieName == "") {

                $("#updationMovieReviewError").html("Please provide Movie Name.");
                $("#updationMovieReviewError").show();
                $("#movieId").focus();
                isValid = false;
                return;
            }

            if (reviewerId == "") {
                $("#updationMovieReviewError").html("Please provide Reviewer Name.");
                $("#updationMovieReviewError").show();
                $("#reviewerId").focus();
                isValid = false;
                return;
            }

            if (reviewerRating == "") {
                $("#updationMovieReviewError").html("Please provide Rating.");
                $("#updationMovieReviewError").show();
                $("#reviewerRating").focus();
                isValid = false;
                return;
            }

            if (review == "") {
                $("#updationMovieReviewError").html("Please provide Review.");
                $("#updationMovieReviewError").show();
                $("#review").focus();
                isValid = false;
                return;

            }

            if (outlink == "") {
                $("#updationMovieReviewError").html("Please provide Outlink.");
                $("#updationMovieReviewError").show();
                $("#outlink").focus();
                isValid = false;
                return;
            }

            if (summary == "") {
                $("#updationMovieReviewError").html("Please provide Summary.");
                $("#updationMovieReviewError").show();
                $("#summary").focus();
                isValid = false;
                return;
            }

            if (isValid) {
                var updateReviewDetails = {
                    "ReviewId": reviewId,
                    "MovieId": movieId,
                    "ReviewerId": reviewerId,
                    "ReviewerRating": reviewerRating,
                    "Review": review,
                    "OutLink": outlink,
                    "Summary": summary
                };

                alert(JSON.stringify(updateReviewDetails));
                $("#hfUpdateMovieReview").val(JSON.stringify(updateReviewDetails));
                //alert(JSON.stringify(updateReviewDetails));

                $.ajax({
                    url: '@Url.Action("UpdateMovieReview", "Review")',
                    data: { "hfUpdateMovieReview": JSON.stringify(updateReviewDetails) },
                    type: 'POST',
                    dataType: 'json',
                    success: ShowSuccessMessage,
                    error: function (xhr, status, error) {
                    }
                });
            }
        } catch (e) {
            $("#updationMovieReviewError").html("There is some error, please try again.");
            $("#updationMovieReviewError").show();
        }
    }

    function ShowSuccessMessage(result) {
        if (result.Status == "Ok") {
            $("#successStatus").html("Movie Review details updated successfully");
            $("#successStatus").show();
            ClearformData();
        } else if (result.Status == "Error") {
            $("#successStatus").removeAttr("class");
            $("#successStatus").attr("class", "alert alert-danger");
            $("#successStatus").html("Unable to update movie review details. Please try again after some time.");
            $("#successStatus").show();
        }
    }

    function ClearformData() {
        $("#movieId").val("");
        $("#reviewerId").val("");
        $("#movieName").val("");
        $("#reviewerName").val("");
        $("#reviewerRating").val("");
        $("#review").val("");
        $("#outlink").val("");
        $("#summary").val("");
        $("#updateMovieReviewBautton").hide();
        $("#updationMovieReviewError").hide();
    }
</script>
