@{
    ViewBag.Title = "AddMovie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style type="text/css">
    .text40 {
        width: 40%;
    }

    .text30 {
        width: 30%;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Update New Movie</h3>
    </div>
    <div class="panel-body" id="movieinfo">
        <div id="successStatus" style="display:none" class="alert alert-success"></div>

        @using (Html.BeginForm())
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Movie Information</h3>
                </div>
                <div class="panel-body">
                    <div id="movieInfoError" style="display:none" class="alert alert-danger"></div>
                    <div class=" well">

                        <div class="col-sm-12">
                            <input type="text" class="text40" name="movie" id="movieName" placeholder="Movie Name" />
                        </div>

                        <div class="col-sm-12">
                            <input type="text" class="text40" name="movieAltName" id="movieAltName" placeholder="Movie Alternative Name" />
                        </div>

                        <div class="col-sm-12">
                            @*<input type="text" class="text40" name="genre" id="genre" placeholder="Genre" />*@
                            <select name="genre" id="genre" class="text40">
                                <option value="select">--Genre--</option>
                                <option value="Action">Action</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Crime">Crime</option>
                                <option value="Horror">Horror</option>
                            </select>
                        </div>

                        <div class="col-sm-12">
                            @*<input type="text" name="synops" id="synops" placeholder="Synopsis" />*@
                            <textarea id="synops" cols="68" rows="5" placeholder="Synopsis" class="text40"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-break"></div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Cast</h3>
                </div>
                <div id="casts" class="panel-body">
                    <div id="castError" style="display:none" class="alert alert-danger"></div>
                    <input type="hidden" id="hfCast" value="1" />
                    <div id="cast_well_0" class="well">
                        <input type="text" name="cast" placeholder="Name" id="castName_0" class="text30" />
                        <input type="text" name="charName" placeholder="Character Name" id="charName_0" class="text30" />
                        <select name="role" id="roles_0">
                            <option value="select">--Select Role--</option>
                            <option value="Actor">Actor</option>
                            <option value="Director">Director</option>
                            <option value="Producer">Producer</option>
                            <option value="Writer">Writer</option>
                        </select><br />
                        <label for="image">Cast Image : </label>
                        <input type="text" name="url" placeholder="Image URL" id="castImgUrl_0" class="text30" />
                        <input type="text" name="height" placeholder="Height" id="castImgHeight_0" class="HWtextBoxes" />
                        <input type="text" name="weight" placeholder="Width" id="castImgWidth_0" class="HWtextBoxes" />
                        <div class="btn btn-success" onclick="AddCastControls();">Add More Cast</div>
                    </div>
                </div>
            </div>
            <div class="page-break"></div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Pictures</h3>
                </div>
                <div id="picture" class="panel-body">
                    <div id="pictureError" style="display:none" class="alert alert-danger"></div>
                    <input type="hidden" id="hfPictures" value="1" />
                    <div id="well_0" class="well">
                        <input type="text" name="url" placeholder="Picture URL" id="picImgUrl_0" class="text30" />
                        <input type="text" name="caption" placeholder="Picture Caption" id="picName_0" class="text30" />
                        <input type="text" name="height" placeholder="Height" id="picImgHeight_0" class="HWtextBoxes" />
                        <input type="text" name="width" placeholder="Width" id="picImgWidth_0" class="HWtextBoxes" />
                        <div class="btn btn-success" onclick="AddPictureControls();">Add More Pictures</div>
                    </div>
                </div>
            </div>

            <div class="page-break"></div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Posters</h3>
                </div>
                <div id="poster" class="panel-body">
                    <div id="posterError" style="display:none" class="alert alert-danger"></div>
                    <input type="hidden" id="hfPoster" value="1" />
                    <div id="poster_well_0" class="well">
                        <input type="text" name="url" placeholder="Poster URL" id="posterUrl_0" class="text30" />
                        <input type="text" name="height" placeholder="Height" id="posterHeight_0" class="HWtextBoxes" />
                        <input type="text" name="weight" placeholder="Weight" id="posterWidth_0" class="HWtextBoxes" />
                        <div class="btn btn-success" onclick="AddPosterControls();">Add More Posters</div>
                    </div>
                </div>
            </div>

            <div class="page-break"></div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Rating</h3>
                </div>
                <div class="panel-body">
                    <div id="ratingError" style="display:none" class="alert alert-danger"></div>
                    <div id="ratings">
                        <input type="text" name="system" placeholder="System" id="systemRating" />
                        <input type="text" name="Critic" placeholder="Critic" id="criticRating" />
                        <label for="hot">Hot</label>
                        <input type="checkbox" name="Hot" id="hot" />
                    </div>
                </div>
            </div>
            <div class="page-break"></div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Songs</h3>
                </div>
                <div id="songs" class="panel-body">
                    <div id="songsError" style="display:none" class="alert alert-danger"></div>
                    <input type="hidden" id="hfSongs" value="1" />
                    <div id="songs_well_0" class="well">
                        <input type="text" name="songName" placeholder="Song Name" id="songName_0" class="text30" />
                        <input type="text" name="songUrl" placeholder="Song Url" id="songUrl_0" class="text30" />

                        <div class="btn btn-success" onclick="AddSongsControls();">Add More Songs</div>
                    </div>
                </div>
            </div>

            <div class="page-break"></div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Stats</h3>
                </div>
                <div class="panel-body">
                    <div id="statsError" style="display:none" class="alert alert-danger"></div>
                    <div id="stats">
                        <input type="text" name="budget" placeholder="Budget" id="budget" class="text30" />
                        <input type="text" name="boxoffice" placeholder="BoxOffice Collection" id="boxOffice" class="text30" />
                    </div>
                </div>
            </div>
            <div class="page-break"></div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Trailers</h3>
                </div>
                <div id="trailers" class="panel-body">
                    <div id="trailerError" style="display:none" class="alert alert-danger"></div>
                    <input type="hidden" id="hfTrailer" value="1" />
                    <div id="trailer_well_0" class="well">
                        <input type="text" name="name" placeholder="Trailer Name" id="movieTrailerName_0" class="text30" />
                        <input type="text" name="url" placeholder="Trailer Url" id="movieTrailerUrl_0" class="text30" />

                        <div class="btn btn-success" onclick="AddTrailerControls();">Add More Trailers</div>
                    </div>
                </div>
            </div>
            <div class="page-break"></div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Release Details</h3>
                </div>
                <div class="panel-body">
                    <div id="months">
                        <label>Month : </label>
                        <select name="month" id="month">
                            <option value="select">-- Select Month--</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                    </div>
                    <div>
                        <label for="year">Year</label>
                        <input type="text" name="year" id="year" />
                    </div>
                </div>
            </div>


            <div id="bottomError" style="display:none" class="alert alert-danger"></div>

            <div class="btn btn-primary" onclick="javascript:void(0);">Update</div>

            @Html.Hidden("hfMovie", "")
        }
    </div>
</div>

<script type="text/javascript">

    function saveMoviedetail() {
        var isValid = true;
        try {
            var movieName = $("#movieName").val();
            var movieAltName = $("#movieAltName").val();
            var genre = $('#genre :selected').text();
            var synopsis = $("#synops").val();
            var month = $('#month :selected').text();
            var year = $("#year").val();

            if (movieAltName == "") {
                $("#movieInfoError").html("Please enter movie name.");
                $("#movieInfoError").show();
                isValid = false;
            }

            if (genre == "" || genre == "--Genre--") {
                $("#movieInfoError").html("Please select movie genre.");
                $("#movieInfoError").show();
                isValid = false;
            }

            var castJson = GetCastJson();
            if (castJson == "")
                isValid = false;

            var pictureJson = GetPictureJson();
            if (pictureJson == "")
                isValid = false;

            var posterJson = GetPosterJson();
            if (posterJson == "")
                isValid = false;

            var isHot = $("#hot").prop("checked");//$("#hot:checked").val();
            var sysRating = $("#systemRating").val();
            var criticRating = $("#criticRating").val();
            var rating = { "system": sysRating, "critic": criticRating, "hot": isHot };

            var songsJson = GetSongJson();
            if (songsJson == "")
                isValid = false;

            var trailerJson = GetTrailerJson();
            if (trailerJson == "")
                isValid = false;

            var statbudge = $("#budget").val();
            var statBox = $("#boxOffice").val();
            var stats = { "budget": statbudge, "boxoffice": statBox };

            if (isValid) {
                //filling data into movie table
                var movie = {
                    "Casts": castJson,
                    "Genre": genre,
                    "Month": month,
                    "Name": movieName,
                    "UniqueName": movieName,
                    "AltNames": movieAltName,
                    "Pictures": pictureJson,
                    "Posters": posterJson,
                    "Ratings": JSON.stringify(rating),
                    "Songs": songsJson,
                    "Stats": JSON.stringify(stats),
                    "Synopsis": synopsis,
                    "Trailers": trailerJson,
                    "Year": year
                };

                alert(JSON.stringify(movie))
                $("#hfMovie").val(JSON.stringify(movie));
                alert($("#hfMovie").val())

                $.ajax({
                    url: '@Url.Action("AddMovie", "Movie")',
                    data: { "hfMovie": JSON.stringify(movie) },
                    type: 'POST',
                    dataType: 'json',
                    success: ShowSuccessMessage,
                    error: function (xhr, status, error) {
                    }
                });
            }
        } catch (e) {
            $("#movieInfoError").html("There some error please try again.");
            $("#movieInfoError").show();

            $("#bottomError").html("There some error. Please check it out.");
            $("#bottomError").show();
        }
    }

    function ShowSuccessMessage(result) {
        if (result.Status == "Ok") {
            $("#successStatus").html("Movie details saved successfully");
            $("#successStatus").show();

            ClearMoviesControl();
        } else if (result.Status == "Error") {
            $("#successStatus").removeAttr("class");
            $("#successStatus").attr("class", "alert alert-danger");
            $("#successStatus").html("Unable to save moive details. Please try again after some time.");
            $("#successStatus").show();
        }
    }
</script>
