@{
    ViewBag.Title = "Critics";
    Layout = "~/Views/Shared/_AdminMasterLayout.cshtml";
}

<div class="movie-container">

    <div class="search-section">

    </div>
    <div class="content-container">
        <div class="shortcut-container"></div>
        <div class="basic-form-container"></div>
        <div id="movie-rating" class="form-container"></div>
        <div class="artists-container"></div>
        <div class="posters-container"></div>
    </div>

</div>
<script type="text/javascript">
    SetActiveTab("Critics");
    var search = new Search("Search critics ...");
    var shortcuts = new Shortcuts();
    var movieinfo = new MovieInformation();

    var searchContainer = search.GetSearchResultContainer();

    $(".search-section").append(search.GetSearchBar("critics"));
    $(".search-section").append(searchContainer);

    search.GetSearchResults(searchContainer, "critics");
    shortcuts.PrepareShortcuts("shortcut-container");

    $(".basic-form-container").append(movieinfo.GetMovieInfoContainer("movie-basic-info", "Basic Information"));

    $(".basic-form-container").append(new Reviewer().BuildForm());

    //$("#movie-rating").append(new Rating().GetRatingForm());
    //$("#txtUnique").attr("readonly", "readonly");

    //$(".artists-container").append(new Artists().GetArtistGrid(null));
    //$(".posters-container").append(new Posters().GetPosterContainer());

    //file uploader
    //$("#poster-upload").attr("onchange", search.UploadSelectedFile(this));

</script>

