@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MovieMirchiLayout.cshtml";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
<style>
    .movie-panel {
        overflow-y: auto !important;
    }
</style>
<div class="content">
    <div class="banner">
        <img src="~/Images/banner-images/movies-collage.jpg" />
        <div class="banner-layer"></div>
        <div class="home-search-bar">
            <div class="input-group">
                <div id="targetDiv">
                    <input type="text" class="form-control" placeholder="What do you like? Movies, Celebrities, Artists, Reviewers..." id="home-search" name="query" value="" autocomplete="off">
                    <div id="search-results"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="movies">
        <div class="review-navigation">
            <div title="Previous" id="previousMovies" class="previous-movies" style="display:none" onclick="PreviousMovies();">
                <img src="~/Images/pervious.png" alt="pervious" />
            </div>
            <div title="Next" id="nextMovies" class="next-movies" style="display:none" onclick="NextMovies();">
                <img src="~/Images/next.png" alt="next" />
            </div>
        </div>
        <div class="movie-name" style="margin-left: 10%;">
            Recent Releases
        </div>
        <div class="movie-list">
            <ul></ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        LoadCurrentMovies();
    });
</script>
