@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MovieMirchiLayout.cshtml";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src=""></script>

<div class="movies" style="padding-top: 2%">
</div>
<script>
    var indexer = 0;
    $(document).ready(function () {
        var json = [
                    { "title": "Now Playing", "section": "now_playing" },
                    { "title": "Upcoming Releases", "section": "up_coming" },
                    { "title": "News", "section": "news" },
                    { "title": "Tweets", "section": "tweets" },
                    { "title": "Critics", "section": "top_critics" },
                    { "title": "Trending", "section": "trending" }
        ];

        $(".nav-bar-container").append(GetNavBar(json));


        $(".movies").append(GetTubeControl("Now Playing", "movie-list", "now-pager", null, "now_playing"));
        $(".movies").append(GetTubeControl("Upcoming Releases", "upcoming-movie-list", "upcoming-pager", null, "up_coming"));
        $(".movies").append(GetTubeControl("News", "news-container", "news-pager", "width60", "news"));
        $(".movies").append(GetTubeControl("Tweets", "tweets", "tweet-pager", "width30", "tweets"));
        $(".movies").append(GetTubeControl("Top Critics", "critics-container", "critics-pager", "width60", "top_critics"));
        $(".movies").append(GetTubeControl("Trending", "tags-container", "tags-pager", "width30", "trending"));
        LoadCurrentMovies();
        LoadUpcomingMovies();
        LoadTweets();
        LoadTags();        
    });
</script>
