@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MovieMirchiLayout.cshtml";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}

<style>
    .movie-panel {
        margin-top: -10px;
    }

    #now-pager {
        float: left;
        width: 100%;
        position: absolute;
        bottom: 0px;
        text-align: center;
        left: 0%;
    }

    .viewingDiv {
        float: none;
        position: relative;
        display: table;
        /*overflow:hidden;*/
    }

    div.multimediaCaption {
        font-family: Arial;
        font-size: 12px;
        display: inline;
    }

    .viewer {
        text-align: center;
        vertical-align: middle;
        position: relative;
        float: left;
    }

    img.shownImage {
        border: solid 1px transparent;
        box-shadow: 0px 0px 15px #555;
    }

    div.navigate {
        font-family: arial,tahoma,sans-serf;
        font-size: 14px;
        font-weight: bold;
        /*text-transform:uppercase;*/
    }

    div.captionAndNavigate {
        background-color: #000;
        bottom: 0px;
        color: #FFFFFF;
        left: 0;
        margin-bottom: 0;
        margin-top: 0;
        opacity: 0.7;
        filter: alpha(opacity=70);
        /*padding: 2px 0 2px 2px;*/
        padding: 0px;
        position: absolute;
        text-align: left;
        z-index: 2;
    }

    .overLaying {
        z-index: 20;
        color: #000000;
        opacity: 0.7;
        filter: alpha(opacity=70);
        position: absolute;
        top: 20;
        left: 0;
    }

    .overLayImg {
        z-index: 20;
        color: #000000;
        opacity: 0.7;
        filter: alpha(opacity=70);
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 42px;
        vertical-align: middle;
        overflow: hidden;
        cursor: pointer;
        /*Chrome*/
        -webkit-border-radius: 5em;
        /*Firefox*/
        -moz-border-radius: 5em;
        /*IE*/
        border-radius: 5em;
        /*behavior: url(PIE.htc);*/
        background: url("/news/images/icons/icon_av_main.gif") no-repeat scroll 0 0 transparent;
    }

        .overLayImg:hover {
            background: url("/news/images/icons/icon_av_main.gif") no-repeat scroll 0 -42px transparent;
        }

        .overLayImg[title="Play Video"] {
            background: url("/news/images/icons/icon_av_main.gif") no-repeat scroll 0 -126px transparent;
        }

            .overLayImg[title="Play Video"]:hover {
                background: url("/news/images/icons/icon_av_main.gif") no-repeat scroll 0 -168px transparent;
            }

        .overLayImg[title="Watch Flash"] {
            background: url("/news/images/icons/flash.png") no-repeat scroll 0 0px transparent;
        }

            .overLayImg[title="Watch Flash"]:hover {
                background: url("/news/images/icons/flash.png") no-repeat scroll 0 -42px transparent;
            }
</style>
<div class="content">
    @*<div class="banner">
            <img src="~/Images/banner-images/movies-collage.jpg" />
            <div class="banner-layer"></div>
            <div class="home-search-bar">
                <div class="header-title">Find the movie to watch</div>
                <div class="search-container">
                    <div class="input-group search-input">
                        <div id="search-bar">
                            <input type="text" class="form-control search" placeholder="What do you like?" id="home-search" name="query" value="" autocomplete="off" />
                            <span class="clear-search-bar" title="Clear search"><img src="/Images/clear-button.png" class="clear-search-bar-button"></span>
                            <div id="search-results"></div>
                        </div>
                    </div>
                    <div class="search-button">Search</div>
                </div>
            </div>
        </div>*@
    <div class="movies">
        @*<div class="review-navigation">
                <div title="Previous" id="previousMovies" class="previous-movies" style="display:none" onclick="PreviousMovies();">
                    <img src="~/Images/pervious.png" alt="pervious" />
                </div>
                <div title="Next" id="nextMovies" class="next-movies" style="display:none" onclick="NextMovies();">
                    <img src="~/Images/next.png" alt="next" />
                </div>
            </div>*@
        @*<div class="tube-container">
                <div class="section-title large-fonts">
                                Now Playing
                            </div>
                            <div class="movie-list">
                        <ul></ul>
                        <div id="now-pager"></div>
                    </div>
            </div>
            <div class="tube-container">
                <div class="section-title  large-fonts">
                    Upcoming
                </div>
                <div class="upcoming-movie-list">
                    <ul></ul>
                    <div id="upcoming-pager"></div>
                </div>
            </div>
            <div class="tube-container">
                <div class="section-title  large-fonts" style="margin-bottom: 1%;">
                    News
                </div>
                <div class="news-container">
                    <ul></ul>
                    <div id="news-pager"></div>
                </div>
            </div>
            <div class="tube-container">
                <div class="section-title  large-fonts" style="margin-bottom: 3%;">
                    Top Critics
                </div>
                <div class="critics-container">
                    <ul></ul>
                    <div id="critics-pager"></div>
                </div>
            </div>*@
    </div>
    <script>
        var indexer = 0;
        $(document).ready(function () {
            $(".movies").append(GetTubeControl("Now Playing", "movie-list", "now-pager"));
            $(".movies").append(GetTubeControl("Upcoming", "upcoming-movie-list", "upcoming-pager"));
            $(".movies").append(GetTubeControl("News", "news-container", "news-pager"));
            $(".movies").append(GetTubeControl("Top Critics", "critics-container", "critics-pager"));

            LoadCurrentMovies();
        });
    </script>
