@inherits System.Web.Mvc.WebViewPage<MvcWebRole1.Models.Page.HomePage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
<meta name="description" content="Movie Mirchi :: Largest aggregator Of Bollywood Entertainment Content - View Movie Information, Critics Review and Bollywood News.">
<meta name="keywords" content="Movie Mirchi,Bollywood,Entertainment,Movie Reviews,Critics Review,Movie Rating,Trailers,Songs,Photos,Pictures,Bollywood News,Genre">
<meta name="author" content="Movie Mirchi">

@section NowPlayingMovies {
    <div class="movies_nowplaying">
        <div id="movie-list-tube" class="tube-container ">
            @UXComponents.MovieListCarousel("myCarousel_nowpager", Model.NowPlayingMovies)
        </div>
    </div>
}

@section UpcomingMovies {
    <div class="movies_upcoming">
        <div id="movie-list-tube" class="tube-container ">
            @UXComponents.MovieListCarousel("myCarousel_upcomingpager", Model.UpcomingMovies)
        </div>
    </div>
}

@section News {
    <div class="movies_news">
    </div>
}

@section Tweets {
    <div class="movies_tweets">
    </div>
}

@section General {
    <div class="movies">
    </div>
    <script>
        var indexer = 0;
        $(document).ready(function () {
            PrepareHomePage();
        });
    </script>
}
