@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
<div class="movies" style="padding-top: 2%">
</div>
<script>
    var indexer = 0;
    $(document).ready(function () {
        PrepareHomePage();
    });
</script>
