@model DataStoreLib.Models.MovieEntity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Current Movies</h3>
    </div>
    <div class="panel-body">
        <div class="review-navigation">
            <div title="Previous" id="previousMovies" class="previous-movies" onclick="PreviousMovies();">
                <img src="~/Images/pervious.png" alt="pervious" />
            </div>
            <div title="Next" id="nextMovies" class="next-movies" onclick="NextMovies();">
                <img src="~/Images/next.png" alt="next" />
            </div>
        </div>
        <div id="currentmovie" class="movieDetail">

        </div>
        <div id="movieTitle" class="movieDetail">

        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        LoadCurrentMovies();
    });
</script>
