@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}
<meta name="description" content="Movie Mirchi :: Largest aggregator Of Bollywood Entertainment Content - View Movie Information, Critics Review and Bollywood News.">
<meta name="keywords" content="Movie Mirchi,Bollywood,Entertainment,Movie Reviews,Critics Review,Movie Rating,Trailers,Songs,Photos,Pictures,Bollywood News,Genre">
<meta name="author" content="Movie Mirchi">
<div class="hero-img"><img src="~/Images/bg.jpg" style="width: 100%; height: 100%" /></div>
<div class="movies">
</div>
<script>
    var indexer = 0;
    $(document).ready(function () {
        PrepareHomePage();
    });
</script>
