@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Register now (it's free)</h3>
    </div>
    <div class="panel-body" id="singupinfo">

        <div id="successStatus" style="display:none" class="alert alert-success"></div>
        <div id="affilationError" class="alert alert-danger" style="display:none;"></div>


        @using (Html.BeginForm())
        {
            <input type="text" id="firstName" class="reviewInput" placeholder="First Name" /><br />

            <input type="text" id="lastName" class="reviewInput" placeholder="Last Name" /><br />

            <input type="text" id="email" class="reviewInput" placeholder="Email Address" /><br />

            <input type="text" id="userName" class="reviewInput" placeholder="UserName" /><br />

            <input type="password" id="password" class="reviewInput" placeholder="Password" /><br />

            <input type="password" id="confirmPassword" class="reviewInput" placeholder="Confirm Password" /><br />

            <div class="btn btn-primary" onclick="Register();">Register</div>
        }

    </div>
</div>

<script type="text/javascript">
    function Register() {
        var isValid = true;
        try {
            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();
            var email = $("#email").val();
            var userName = $("#userName").val();
            var password = $("#password").val();
            var confirmPassword = $("#confirmPassword").val();

            if (firstName == "") {
                $("#affilationError").html("Please provide first Name.");
                $("#affilationError").show();
                $("#firstName").focus();
                isValid = false;
                return;
            }

            if (lastName == "") {
                $("#affilationError").html("Please provide lastName Name.");
                $("#affilationError").show();
                $("#lastName").focus();
                isValid = false;
                return;
            }

            if (email == "") {
                $("#affilationError").html("Please provide email address.");
                $("#affilationError").show();
                $("#email").focus();
                isValid = false;
                return;
            }

            if (userName == "") {
                $("#affilationError").html("Please provide userName.");
                $("#affilationError").show();
                $("#userName").focus();
                isValid = false;
                return;

            }

            if (password == "") {
                $("#affilationError").html("Please provide password.");
                $("#affilationError").show();
                $("#password").focus();
                isValid = false;
                return;
            }

            if (confirmPassword == "") {
                $("#affilationError").html("Please provide confirm password.");
                $("#affilationError").show();
                $("#confirmPassword").focus();
                isValid = false;
                return;
            }

            if (!IsEmailValid(email)) {
                $("#affilationError").html("Please provide valid email address.");
                $("#affilationError").show();
                $("#confirmPassword").focus();
                isValid = false;
                return;
            }

            if (password != confirmPassword) {
                $("#affilationError").html("Password and confirm password does not match.");
                $("#affilationError").show();
                $("#confirmPassword").focus();
                isValid = false;
                return;
            }

            if (isValid) {
                var user = {
                    "UserName": userName,
                    "Password": password,
                    "FirstName": firstName,
                    "LastName": lastName,
                    "Email": email,
                    "Mobile": confirmPassword // mobile no use as confirm password
                };
                //$("#hfAffilations").val(JSON.stringify(user));
                $.ajax({
                    url: '@Url.Action("Register", "Account")',
                    data: { "userJson": JSON.stringify(user) },
                    type: 'POST',
                    dataType: 'json',
                    success: ShowSuccessMessage,
                    error: function (xhr, status, error) {
                    }
                });
            }
        } catch (e) {
            $("#affilationError").html("There some error please try again.");
            $("#affilationError").show();
        }
    }

    function ShowSuccessMessage(result) {
        if (result.Status == "Ok") {
            $("#successStatus").html("Your successfully register. Please login to access your account.");
            $("#successStatus").show();
            ClearformData();
        } else if (result.Status == "Error") {            
            if (result.Message != undefined) {
                $("#affilationError").html(result.Message);
            }
            else {
                $("#affilationError").html("Unable to register. Please try again after some time.");
            }

            $("#affilationError").show();
        }
    }

    function ClearformData() {
        $("#firstName").val("");
        $("#lastName").val("");
        $("#email").val("");
        $("#userName").val("");
        $("#password").val("");
        $("#confirmPassword").val("");
    }
</script>
