.cast-item {
    float: left;
    width: 100%;
}

    .cast-item:hover {
        background-color: #EEE;
    }

.cast-details {
    float: left;
    min-width: 100px;
}

    .cast-details a {
        cursor: pointer;
    }

        .cast-details a:hover {
            text-decoration: underline;
        }

.cast-details-right {
    float: right;
}

.gallery-image {
    float: left;
    padding: 5px;
    padding-top: 0px;
}

.team-item {
    float: left;
    margin-right: 10px;
}

    .team-item a {
        cursor: pointer;
    }

.movie-list, .news-container, .critics-container, .upcoming-movie-list, .others-movie-list {
    float: left;
    /*margin-left: 7%;*/
    width: 93%;
    /*margin-bottom: 20px;*/
}
.news-container {
    width: 100%;
}
.movie-list ul, .critics-container ul, .upcoming-movie-list ul, .others-movie-list ul {
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 340px;
}

    .movie-list ul li, .critics-container ul li, .upcoming-movie-list ul li, .others-movie-list ul li {
        float: left;
        list-style: none;
        width: 225px;
        margin-right: 10px;
        margin-bottom: 1%;
        cursor: pointer;
        text-align: left;
        position: relative;
    }
.critics-container {
    width: 100%;
}

    .critics-container ul {
        height: auto;
    }

        .critics-container ul li {
            width: 120px;
            margin-right: 10px;
            min-height: 90px;
        }

            .critics-container ul li.reviewer-empty {
                width: 100%;
                min-height: 0px;
            }

.img-movie-genre {
    float: left;
    font-size: 0.85em;
    /*color: #333;*/
    margin-bottom: 5px;
    width: 100%;
}

.img-movie-date {
    float: left;
    font-size: 0.8em;
    /*color: #333;*/
    width: 100%;
}
/*
.img-movie-genre-tile-type-0 {
    font-size: 1em;
    color: #FFF;
}

.img-movie-date-tile-type-0 {
    color: #FFF;
}
*/
@media screen and (min-width: 321px) and (max-width: 767px) {
    .movie-list, .upcoming-movie-list {
        /*margin-left: 7%;*/
    }

        .movie-list ul li, .upcoming-movie-list ul li {
            /*width: 45%;*/
            max-width: 225px;
        }
}

@media screen and (max-width: 320px) {
    .movie-list, .upcoming-movie-list {
        /*margin-left: 15%;*/
    }

        .movie-list ul li, .upcoming-movie-list ul li {
            width: 50%;
            max-width: 225px;
        }
        .gallery-image{max-width: 265px !important;}
}
