#container .content {
    margin-top: 50px;
}

.cast-item {
    float: left;
    width: 100%;
}

    .cast-item:hover {
        background-color: #EEE;
    }

.cast-details {
    float: left;
    min-width: 100px;
}

    .cast-details a {
        cursor: pointer;
    }

        .cast-details a:hover {
            text-decoration: underline;
        }

.cast-details-right {
    float: right;
}
.gallery-image {
    float: left;
    padding: 5px;
}
.team-item {
    float: left;
    margin-right: 10px;
}

    .team-item a {
        cursor: pointer;
    }

#search-results {
    text-align: left;
}
.search {
    outline: none;
    border: 2px solid #368BC1 !important;
    border-radius: 5px !important;
}
.movie-list, .news-container, .critics-container, .upcoming-movie-list {
    float: left;
    width: 93%;
    margin-left: 7%;
    margin-bottom: 1%;
}
.critics-container {
    width: 96%;
}
.news-container {
    width: 100%;
}
.movie-list ul, .critics-container ul, .upcoming-movie-list ul {
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 400px;
}
    .movie-list ul li, .critics-container ul li, .upcoming-movie-list ul li {
        float: left;
        list-style: none;
        width: 20%;
        margin-right: 3%;
        min-height: 380px;
        margin-bottom: 1%;
        cursor: pointer;
        text-align: left;
    }

    .critics-container ul li {
        width: 125px;
        margin-right: 20px;
        min-height: 100px;
    }

        .movie-list ul li img, .critics-container ul li img, .upcoming-movie-list ul li img {
            float: left;
            border: 0px;
        }

#reviewer-list img.loading {
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 25px;
    margin-left: 45%;
}

#detailed-review img.loading {
    float: left;
    position: absolute;
    top: 40%;
    left: 73%;
    width: 24px;
    height: 24px;
}

.img-movie-genre {
    float: left;
    font-size: 1em;
    color: #DDD;
    margin-bottom: 5px;
    width: 100%;
}

.img-movie-date {
    float: left;
    font-size: 0.8em;
    color: #CCC;
    width: 100%;
}
