.cast-item {
    float: left;
    width: 100%;
}
    .cast-item:hover {
        background-color: #EEE;
    }

.cast-details {
    float: left;
    min-width: 100px;
}
    .cast-details a {
        cursor: pointer;
    }
        .cast-details a:hover {
            text-decoration: underline;
        }
.cast-details-right {
    float: right;
}

.gallery-image {
    float: left;
    padding: 5px;
    padding-top: 0px;
}

.team-item {
    float: left;
    margin-right: 10px;
}

    .team-item a {
        cursor: pointer;
    }

.movie-list, .news-container, .critics-container, .upcoming-movie-list, .others-movie-list,.previous-movie-list {
    float: left;
}
.news-container {
    width: 74%;
    margin-top: 20px;
}
.movie-list ul, .critics-container ul, .upcoming-movie-list ul, .others-movie-list ul,.previous-movie-list ul {
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 340px;
}

    .movie-list ul li, .critics-container ul li, .upcoming-movie-list ul li, .others-movie-list ul li, .previous-movie-list ul li {
        float: left;
        list-style: none;
        width: 225px;
        margin-right: 10px;
        /*margin-bottom: 1%;*/
        cursor: pointer;
        text-align: left;
        position: relative;
    }
.critics-container {
    width: 100%;
}

    .critics-container ul {
        height: auto;
    }

        .critics-container ul li {
            width: 120px;
            margin-right: 10px;
            min-height: 55px;
        }

            .critics-container ul li.reviewer-empty {
                width: 100%;
                min-height: 0px;
            }

.img-movie-genre {
    float: left;
    font-size: 0.85em;
    margin-bottom: 5px;
    width: 100%;
}

.img-movie-date {
    float: left;
    font-size: 0.8em;
    width: 100%;
}
@media screen and (max-width: 800px){
    .news-container {margin-top: 0px; width: 80%;}
}
@media screen and (min-width: 321px) and (max-width: 767px) {
        .movie-list ul li, .upcoming-movie-list ul li {
            max-width: 225px;
        }
}

@media screen and (max-width: 320px) {
        .movie-list ul li, .upcoming-movie-list ul li {
            width: 50%;
            max-width: 225px;
        }
        .gallery-image{max-width: 265px !important;}
}